<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/home/style2.css">
    <script src="/js/home/login.js"></script>
    
    <title>Siemens EDA Calibre Day 2023</title>
</head>
<body>
    <header class="header">
        <div class="header__wrapper inner">
            <input type="checkbox" id="header__hamberger">
            <label for="header__hamberger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <div class="header__menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#carlibre">Calibre Day</a></li>
                        <li><a href="#agenda">Agenda</a></li>
                        <li><a href="#information">Information</a></li>
                        <li><a href="#venue">Venue</a></li>
                    </ul>
                </div>
            </div>
            <img class="header__logo" src="/images/logo.png">
            <div class="header__nev">
                <div class="header__menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#carlibre">Calibre Day</a></li>
                        <li><a href="#agenda">Agenda</a></li>
                        <li><a href="#information">Information</a></li>
                        <li><a href="#venue">Venue</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- <main>
        <section>타이틀</section>
        <section>인사말</section>
        <section>아젠다</section>
        <section>인포</section>
        <section>베뉴</section>
    </main>
    <footer>풋터</footer> -->

    <script>
        function toggleMenu() {
                const menu = document.getElementById("menu");
                menu.classList.toggle("active");
            }
    </script>
</body>
</html>